<th:block xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(#{ui.02735}, null, ~{::content}, ~{::pageScripts})}">
    <div th:fragment="content" class="client-workspace-v2 library-exercise-v2 programme-library-v2">
        <header class="detail-header"><div class="detail-header-content"><div><h1 class="detail-title" th:text="#{ui.02735}"></h1><p class="detail-subtitle" th:text="#{ui.library.programmeCreateHint}"></p></div><a class="detail-btn-secondary" th:href="@{/trainer/library/programmes(q=${query},page=${libraryPage})}" th:text="#{ui.00241}"></a></div></header>
        <th:block th:replace="~{trainer-views/trainer/programmes/edit :: programmeForm}"></th:block>
    </div>
    <th:block th:fragment="pageScripts" th:replace="~{trainer-views/trainer/programmes/edit :: pageScripts}"></th:block>
</th:block>
