<th:block xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(#{ui.02655}, null, ~{::content}, ~{::pageScripts})}">
<div th:fragment="content" class="client-workspace-v2 library-exercise-v2">
    <header class="detail-header"><div class="detail-header-content"><h1 class="detail-title" th:text="#{ui.02655}"></h1><a class="detail-btn-secondary" th:href="@{/trainer/library/exercises(q=${query},page=${libraryPage})}" th:text="#{ui.02688}"></a></div></header>
    <th:block th:replace="~{trainer-views/trainer/exercises/edit :: exerciseForm}"></th:block>
</div>
<div th:fragment="pageScripts"><script th:src="@{/js/trainer/trainer-library-editor.js(v=${assetVersion})}" defer></script></div>
</th:block>
